/* ------------------------------ Fonts import ------------------------------ */
@import url("https://use.typekit.net/ocq0abi.css");

/* ------------------------------ Variables ------------------------------ */
$white: #FFFFFF;
$black: #000000;
$purple: #7161F5;
$green: #61F570;
$red: #F57061;
$yellow: #E6F561;
$blue: #61B5F5;


/* ------------------------------ Base ------------------------------ */
* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    margin: auto;
    overflow-x: hidden;
}

/* ------------------------------ Fonts ------------------------------ */
h1,
h2,
h3,
h4 {
    font-family: marvin, sans-serif;
    color: $black;
    margin: 0;
}

/* ------------------------------ Navbar ------------------------------ */
header {
    position: fixed;
    top: 40px;
    left: 80px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    .logo {
        cursor: pointer;
    }

    nav {
        position: fixed;
        background: $white;
        width: 160px;
        top: 0;
        right: 80px;
        border: 3px solid $black;
        border-top: none;
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
        cursor: pointer;

        
        li {
            top: -20px;
            opacity: 0;
            // transition: all 0.3s ease-in-out;
        }

        &:hover {
            li {
                opacity: 1;
                top: 140px;
            }
        }

        h1 {
            font-size: 40px;
            color: $purple;
            -webkit-text-stroke: 1px $black;
        }

        h2 {
            line-height: 1;
            font-size: 25px;
        }
    }

    li {
        position: fixed;
        background: $black;
        width: 160px;
        right: 80px;
        display: flex;
        flex-direction: column;
        padding: 15px;
        line-height: 1.25;
        font-family: marvin, sans-serif;
        font-size: 20px;

        a {
            text-decoration: none;
            color: $white;
            transition: all 0.3s ease-in-out;

            &:hover {
                color: $yellow;
            }
        }
    }
}

/* ------------------------------ Canvas Hero ------------------------------ */
.canvasHero {
    border: 1px solid pink;
    z-index: -1;
}